@use "./Components/reset" as *;

.heroImageandVideo {
  display: block;
  .imageBelowHero {
    background-image: linear-gradient(
      rgba(250, 250, 250, 0) 0%,
      rgb(250, 250, 250) 85%
    );
    position: relative;
  }

  .videoBelowHero {
    position: absolute;
    width: 46%;
    left: 50%;
    object-fit: contain;
    max-width: 100%;
  }
}
