@use "./reset" as *;

.hero {
  width: 80vw;
  height: 40vh;
  //   margin: 0px 95px;
}

.heroText {
  text-align: center;
  p {
    font-size: 1.375rem;
    margin: 0px 242px 40px;
  }
}

.heroButton {
  margin-bottom: 20px;
  justify-content: center !important;
}
